services:
  postgres:
    image: postgres:16-alpine
    container_name: codeduel-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: codeduel
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: codeduel-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  piston:
    image: ghcr.io/engineer-man/piston
    platform: linux/amd64
    container_name: codeduel-piston
    restart: unless-stopped
    ports:
      - "2000:2000"
    privileged: true
    volumes:
      - piston_data:/piston

volumes:
  postgres_data:
  redis_data:
  piston_data:
